[submodule "OmniAntigravityRemoteChat"]
	path = OmniAntigravityRemoteChat
	url = https://github.com/diegosouzapw/OmniAntigravityRemoteChat
[submodule "antigravity-agent"]
	path = antigravity-agent
	url = https://github.com/MonchiLin/antigravity-agent
[submodule "gemini-mcp-tool"]
	path = gemini-mcp-tool
	url = https://github.com/jamubc/gemini-mcp-tool
[submodule "auto-accept-agent"]
	path = auto-accept-agent
	url = https://github.com/Munkhin/auto-accept-agent.git
